<div class="navbar-inner">
  <a class="btn" href="#today" -data-counter="8">Today</a>
  <a class="btn" href="#activity-inventory">Activity Inventory</a>
  <a class="btn" href="#records">Records</a>
</div>