<%# Properties %>
<td class="state"><div class="box" data-prop="state"></div></td>
<th contenteditable class="name" data-prop="name"></th>
<td contenteditable class="project" data-prop="project"></td>

<%# Metrics %>
<td class="counters">
  <div class="box">
    <span class="pomodoro-counter" data-prop="pomodoros">
    </span><span class="delimiter">/</span><span class="estimate-counter" data-prop="estimate"></span>
  </div>
  <div class="box interrup-counter" data-prop="interrups"></div>
</td>

<%# Actions %>
<td class="actions">
  <a class="trash" href="#"><i class="icon-trash"></i></a>
</td>