<div class="pages-wrapper">
  <div class="pages">
    <a class="btn page" id="today-page"   href="#">Today</a>
    <a class="btn page" id="later-page"   href="#">Activity Inventory</a>
    <a class="btn page" id="records-page" href="#" -data-counter="8">Records</a>
  </div>
</div>

<div class="table-wrapper">
  {{#tasks}}
    <table cellspacing="0" id="today-tasks" class="sortable">
      <thead style="display:none">
        <tr>
          <th class="essential">State</th>
          <th class="persist essential">Task</th>
          <th class="optional">Project</th>
          <th class="optional">Pomodoros</th>
          <th class="optional">Track</th>
        </tr>
      </thead>
      <tbody>
        {{#today}}
          {{> task}}
        {{/today}}
      </tbody>
    </table>

    <table cellspacing="0" id="later-tasks" class="sortable">
      <thead style="display:none">
        <tr>
          <th class="essential">State</th>
          <th class="persist essential">Task</th>
          <th class="optional">Project</th>
          <th class="optional">Pomodoros</th>
          <th class="optional">Track</th>
        </tr>
      </thead>
      <tbody>
        {{#later}}
          {{> task}}
        {{/later}}
      </tbody>
    </table>
  {{/tasks}}

  <br>
  <br>
  <br>

  <form id="new-task" style="float:left; margin-top:-10px">
    <input type="text" name="name" size="50" placeholder="Name" />
    <input type="text" name="project" placeholder="Project" />
    <input type="submit" class="btn" value="New task" />
  </form>

  <div style="float:right">
    <a class="btn" id="save-and-clean-data" href="#">Log completed</a>
    <a class="btn" id="save-and-clean-data" href="#">Save <em>&amp;</em> clean</a>
    <a class="btn" id="save-data" href="#">Save</a>
  </div>
</div>
