<tr class="task">
  <td class="state"><div class="box">{{ state }}</div></td>
  <th class="name">{{ name }}</th>
  <td class="project">{{ project }}</td>

  <td class="pomodoros">
    <div class="box pomodoro-counter">{{ pomodoros }}</div>
    <div class="box interrup-counter">{{ interrups }}</div>
  </td>
  <td class="timer">
    <div class="track">
      <abbr class="type" title="Timer for a pomodoro">POM</abbr>: <span class="time">25</span> min
      <a class="start" href="#"><i class="icon-play"></i></a>
      <a class="stop"  href="#"><i class=""></i></a>
    </div>
    <a class="trash" href="#"><i class="icon-trash"></i></a>
  </td>
</tr>
