<tr class="task">
  {{! Properties }}
  <td class="state"><div class="box">{{ state }}</div></td>
  <th contenteditable class="name">{{ name }}</th>
  <td contenteditable class="project">{{ project }}</td>

  {{! Metrics }}
  <td class="counters">
    <div class="box pomodoro-counter">{{ pomodoros }}</div>
    <div class="box interrup-counter">{{ interrups }}</div>
  </td>

  {{! Actions }}
  <td class="actions">
    <div class="tracker">
      <abbr class="type">TYP</abbr>:
      <span class="time" contenteditable="true">25</span> min
      <a class="start" href="#"><i class="icon-play"></i></a>
      <a class="pause" href="#" style="display:none"><i class="icon-pause"></i></a>
      <a class="reset" href="#" style="display:none"><i class="icon-repeat"></i></a>
    </div>
    <a class="trash" href="#"><i class="icon-trash"></i></a>
  </td>
</tr>
