/*
 *  Main stylesheet for all devices
 *
 *  David Francisco - @dmfrancisco - http://dmfranc.com
 *  Coimbra, Portugal
 */

@import "reset";
@import "responsive";
@import "font-awesome";
@import "rwd-tables";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);


/* Variables */

@bgd-color: #fff;
@text-color: #191919;


/* Top-level styles */

body {
  color: @text-color;
  font-size: 12px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased; // force anti-aliasing in chrome and safari
  text-rendering: optimizelegibility;  // improves the handling of kerning pairs and ligatures
}
body, button, input[type="text"], input[type="submit"] {
  font: 12px 'Droid Sans Mono', sans-serif;
}

#main {
  position: relative;
  margin: 8em 3em 3em;
  -webkit-user-select: none;
}


/* Views */

[data-role="page"] {
  display: none;
}


/* Navigation bar */

.navbar {
  margin: 50px 50%;
  text-align: center;
}
.navbar-inner {
  margin-left: -200px;
  width: 400px;
}
.navbar-inner, .table-menu-wrapper {
   position: absolute;
   top: 3em;
}


/* Tables */

table thead {
  display: none;
}
table tbody tr.task {

  /* Common styles */

  a, a:visited, a:hover {
    color: @text-color;
    text-decoration: none;
  }
  td, th {
    vertical-align: middle;
    background: #eee;
    border-bottom: 1px solid @bgd-color;
    border-top: 1px solid @bgd-color;
  }

  /* Widths and alignments */

  .state {
    width: 20px;
  }
  .name {
    text-align: left;
  }
  .project {
    min-width: 110px;
  }
  .counters {
    width: 55px;

    div:first-child {
      margin-right: 5px;
    }
  }
  .actions {
    text-align: left;
    width: 115px;
    .start i {
      min-width: 9px;
    }
  }

  /* Allow some contents to be editable */

  .name, .project, .actions .time {
    -webkit-user-select: text;
  }

  /* Emphasize tracker actions and project name on mouse over */

  .tracker {
    opacity: 0.2;
  }
  &:hover .tracker, &.selected .tracker {
    opacity: 1;
  }
  .project {
    color: #ccc;
  }
  &:hover .project, &.selected .project {
    color: @text-color;
  }

  /* More styles */

  &.selected { // The task is selected
    border-left: 1px solid grey;
  }
  .canceled { // The task is canceled
    text-decoration: line-through;
  }
}


/* Inputs */

input[type="checkbox"] {
  position: absolute;
  left: -999em;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  border: 1px solid #e9df6e;
  padding: 0 3px;
  margin-right: 10px;
  content: "✔";
  color: #191919;
}
input[type="checkbox"]:checked + label::before {
  color: #e9df6e;
}
input[type="text"] {
  padding: 6px 8px;
}
input[type="submit"] {
  cursor: pointer;
}

.box {
  float: left;
  border: 1px solid #191919;
  color: #191919;
  width: 14px;
  height: 16px;
  text-align: center;
  padding: 3px 4px 3px 5px;
  line-height: 1;
  font-size: 15px;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bolder;
}


/* Badges */

[data-counter]:after {
  content: attr(data-counter);
  position: absolute;
  top: -12px;
  right: 20px;
  padding: 0 6px;
  border-radius: 100px;
  background: red;
  background-clip: padding-box;
  font-weight: bold;
  color: white;
  text-decoration: none;
}


/* Custom trash button */

.trash {
  float: right;
  font-size: 16px;
  -webkit-font-smoothing: none;

  [class^="icon-"], [class*=" icon-"] {
    color: #ccc;
  }

  display: none; // Reveal when the shift key is pressed
}
