<div class="navbar">
  <div class="navbar-inner">
    <a class="btn" href="/today" -data-counter="8">Today</a>
    <a class="btn" href="/activity-inventory">Activity Inventory</a>
    <a class="btn" href="/records">Records</a>
  </div>
</div>

<div id="main">
  <section id="today-page" data-role="page">
    <%= partial "views/today-page" %>
  </section>

  <section id="activity-inventory-page" data-role="page">
    <%= partial "views/activity-inventory-page" %>
  </section>

  <section id="records-page" data-role="page">
    <%= partial "views/records-page" %>
  </section>
</div>

<%# Template to render tasks on the client-side %>
<script type="text/template" id="task-template">
  <%= partial "views/task" %>
</script>
